/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
display: flex;
}

.justify-content-center {
justify-content: center;
}

.justify-content-space-between {
justify-content: space-between;
}

.justify-content-space-around {
justify-content: space-around;
}

.align-items-center {
align-items: center;
}

.direction-column {
flex-direction: column;
}

body {
font-family: 'Open Sans', sans-serif;
background-color: white;
}

header {
padding: 1.2rem;
}

header img {
    transform: scale(.9);
}

ul {
list-style-type: none;
}

header > nav > ul > li {
margin: 0 1rem;
font-size: .8rem;
cursor: pointer;
}

header > nav > ul > li > img {
    cursor: auto;
    }

.jumbotron {
background-color: #b4d0e7;
margin-bottom: 5rem;
}

.jumbotron img {
width: 800px;
left: 30%;
top: 40%;
}

.jumbotron h1 {
font-size: 4rem;
padding: 3rem 0;
}

.jumbotron p,
.jumbotron span {
font-size: .9rem;
}

.jumbotron i {
justify-self: flex-end;
padding: 2rem 0 1.5rem 0;
font-size: 3rem;
}

.button {
width: fit-content;
padding: .6rem .9rem;
cursor: pointer;
}

.business-plan-container button.position-absolute {
    top: 3rem;
    right: 2rem;
}

.jumbotron .button {
margin: 1.7rem 0 .7rem 0;
}

.business-plan-container {
border: 1px solid black;
margin-bottom: 2rem;
}

.thin-container {
width: calc(100% / 3 - 2rem);
}

.container-label {
border: 1px solid black;
height: fit-content;
text-align: center;
}

.position-relative {
position: relative;
}

.position-absolute {
position: absolute;
}

.margin-auto {
margin: 0 auto;
}

.width-70 {
width: 70%;
}

.width-50 {
width: 50%;
}

.width-30 {
width: 30%;
}

.bg-blue {
    background-color: #0061ff;
}

.txt-white {
    color: white;
}

.no-border {
    border: none;
}